#grad1 {
  height: 200px;
  background-color: rgb(69, 93, 197);
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgba(0, 81, 255, 0.712), rgba(255, 38, 0, 0.699));
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;

  justify-content: center;
  align-items: center;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main1 {
  padding: 20px;
  margin: -50px 10px;
  width: 95%;
  border-radius: 20px;
  box-shadow: 1px 1px 2px solid black;

}

button {
  width: 250px;
  margin: 2px;
}

.card {
  border-radius: 20px;
  // margin-top: 10px;

}

@media screen and (max-width:900px) {

  .main1 {
    padding: 20px;
    margin: 10px 0px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px solid black;
  }

  button {
    width: 140px;
    margin: 2px;
    font-size: 10px;
  }
}